.myposts {
  display: flex;
  flex-direction: column;
}

.title {
  letter-spacing: 5px;
  color: var(--main-color);
}

.textArea {
  min-width: 300px;
  margin-bottom: 15px;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: var(--main-color);
  border: none;
  color: var(--active-color);
}

.btn:hover {
  background-color: var(--accent-color);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

