.title {
  font-size: 24px;
  padding-right: 10px;
  color: var(--active-color);
}
.img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.friends {
  display: flex;
  flex-direction: column;
}
.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  color: var(--accent-color);
  font-size: 20px;
}

