.post {
  margin-bottom: 50px;
  margin-top: 50px;
}

.item {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
}

.photo {
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
